{% extends "/_base.html" %}
{% includeCssFile "/calendar/style/event.css" %}

{% block title %}{{ entry.title }}{% endblock %}

{% block content %}
  <article class="event">
    <p class="date">{{ entry.eventDate|date('full') }}</p>
    <p class="time">{{ entry.eventDate|time('short') }}</p>
    <div class="location">
      <p class="location-label">
        Location:
      </p>
      <p class="location-text">{{ entry.location }}</p>
    </div>
    <h1 class="title">{{ entry.title }}</h1>
    <p class="details">{{ entry.details }}</p>
  </article>
{% endblock %}