{% extends "/_base.html" %}
{% includeCssFile "/calendar/style/event.css" %}
{% includeCssFile "/calendar/style/template.css" %}

{% set currentDate = date(year ~ '-' ~ month ~ '-' ~ day) %}

{% set eventId = number|number_format %}

{% set event = craft.entries.id(eventId).first %}

{% block title %}{{ event.title }}{% endblock %}

{% block content %}
<article class="event">
  {% set eventDateSlug = event.eventDate|date('Y/m/d') %}
  <a href="/{{ eventDateSlug }}" class="day-link">
    <p class="date">{{ event.eventDate|date('full') }}</p>
  </a>
  <p class="time">{{ event.eventDate|time('short') }}</p>
  <div class="location">
    <p class="location-label">
      Location:
    </p>
    <p class="location-text">{{ event.location }}</p>
  </div>
  <h1 class="title">{{ event.title }}</h1>
  <p class="details">{{ event.details }}</p>
</article>
<a href="/" class="back-link">Back to Calendar</a>
{% endblock %}