{% extends "/_base.html" %}
{% includeCssFile "/calendar/style/event.css" %}

{% set eventId = number|number_format %}

{% set event = craft.entries.id(eventId).first %}

{% block title %}{{ event.title }}{% endblock %}

{% block content %}
<article class="event">
  <p class="date">{{ event.eventDate|date('full') }}</p>
  <p class="time">{{ event.eventDate|time('short') }}</p>
  <div class="location">
    <p class="location-label">
      Location:
    </p>
    <p class="location-text">{{ event.location }}</p>
  </div>
  <h1 class="title">{{ event.title }}</h1>
  <p class="details">{{ event.details }}</p>
</article>
{% endblock %}