main {
  padding: 1rem;
}

section.day h1.date {
  display: block;
  color: rgb(255, 87, 87);
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

section.day div.event {
  margin: 2rem 0;
}

section.day a.event-link:link {
  text-decoration: none;
}

section.day div.event {
  transition: transform 0.5s;
}

section.day div.event:hover {
  transform: translateY(-0.125rem);
}

section.day div.event h2.title {
  font-size: 1.375rem;
  font-weight: normal;
  margin-top: 0.5rem;
  color: #333;
}

section.day div.event p.time {
  margin-bottom: 0;
  font-size: 1.125rem;
  color: rgb(0, 117, 226);
}