<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Calendar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="style/home.css" />
</head>

<body>
    <h1>Calendar</h1>
    <table class="calendar">
        {% set month = now|date('m') %}
        {% set year = now|date('yy') %}
        {% set daysInMonth = now|date('t') %}
        {% set firstWeekDay = (year ~ '-' ~ month ~ '-01') |date('N') %}
        {% set calendarEventsQuery = craft.entries()
        .section('calendar')
        .orderBy('date') %}
        {% set events = calendarEventsQuery.all() %}
        <tr class="weekdays">
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
        <tr class="days">
            {% for i in 1..(firstWeekDay - 1) %}
            <td>
            </td>
            {% endfor %}
            {% for i in 1..(daysInMonth) %}
            <td class="day {% for event in events %}{% if (year ~ '-' ~ month ~ '-' ~ i)|date('Y-m-d') == event.date|date('Y-m-d') %}active {% endif %}{% endfor %}">
                <div class="wrapper">
                    <p class="date">{{ i }}</p>
                    <div class="events">
                        <p class="date">{{ (year ~ '-' ~ month ~ '-' ~ i)|date('D, M j, Y') }}</p>
                        {% for event in events %}
                        {% if (year ~ '-' ~ month ~ '-' ~ i)|date('Y-m-d') == event.date|date('Y-m-d') %}
                        <a href="./event/{{ event.slug }}" class="event-link" target="_blank">
                        <div class="event">
                            <p class="time">{{ event.date|time('short') }}</p>
                            <p class="title">{{ event.title }}</p>
                        </div>
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </td>
            {% if (firstWeekDay - 1 + i) % 7 == 0 %}
        </tr>
        <tr>
            {% endif %}
            {% endfor %}
        </tr>
    </table>
</body>

</html>